{% extends 'template_base.html' %}

{% block contenido %}
<div class="container-fluid">
    <h4>Detalles del Archivo {{archivo}}</h4><hr>
    <dl>
        <dt>Directorio del archivo:</dt>
        <dd>- {{ archivo.directorio }}</dd>
        <dt>Nombre del archivo:</dt>
        <dd>- {{ archivo.nombre_archivo }}</dd>
        <dt>Última edición:</dt>
        <dd>- {{ archivo.fecha_edicion }}</dd>
        <dt>Pertenece al proyecto (Orden de Trabajo):</dt>
        <dd>- {{ archivo.proyecto }}</dd>
        <dt>Propietario:</dt>
        <dd>- {{ archivo.propietario }}</dd>
        {% if archivo.reemplaza_a %}
        <dt>Reemplaza al archivo:</dt>
        <dd>- {{ archivo.reemplaza_a }}</dd>
        <dd>- Motivo de la revión: {{ archivo.tique_revision|default_if_none:"Generado en una versión anterior" }}</dd>
        {% endif %}
        {% if archivo.is_replace %}
        <dt>Reemplazado por archivo:</dt>
        <dd>- {{ archivo.archivo_reemplazado_por.get }}</dd>
        {% endif %}
        {% if archivo.archivos.all.count > 0 %}
        <dt>Documentos que compone:</dt>
        {% for doc in archivo.archivos.all %}
        {% if not doc.is_replaced %}
        <dd>- {{ doc }}</dd>
        {% endif %}
        {% endfor %}
        {% endif %}
    </dl>
{% endblock %}