{% load static %}
<html style="height: 100%;">
    <head>
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="utf-8">
        <title>BISA. Barbagelata Ingeniería. Gestor de Documentos.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <link rel="stylesheet" href="{% static 'css/bisa.css' %}">
        <link rel="stylesheet" href="{% static 'css/LControlLayersTree.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% url 'jsi18n' %}" > </script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <!--Menú principal-->
    <body style="height: 100%;">
        <div class="container-fluid"  style="height: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-sm-2 bg-dar">
                    <nav class="navbar navbar-dark sticky-top">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'proyectos' %}" class="nav-link">Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link">Documentos</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link">Archivos</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'listas_chequeo' %}" class="nav-link">Lista de Chequeo</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tipos_chequeo' %}" class="nav-link">Tipos de Chequeo</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'consulta_espacial' %}" class="nav-link">Busqueda Espacial</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            
                <div class="col-sm-10" style="height: 100%;">
                    {% block contenido %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>