{% extends 'template_base.html' %}

{% block contenido %}
<div class="container-fluid">
    <h4>Detalles del Documento {{documento}}</h4><hr>
    <dl>
        <dt>Pertenece al proyecto:</dt>
        <dd>- {{ documento.proyecto }}</dd>
        <dt>Propietario:</dt>
        <dd>- {{ documento.propietario }}</dd>
        {% if documento.refiere_a.all.count > 0 %}
        <dt>El documento refiere a los documentos:</dt>
        {% for doc in documento.refiere_a.all %}
        <dd>- {{ doc }}</dd>
        {% endfor %}
        {% endif %}
        {% if documento.documentos_refiere_a.all.count > 0 %}
        <dt>El documento es referido por los documentos:</dt>
        {% for doc in documento.documentos_refiere_a.all %}
        <dd>- {{ doc }}</dd>
        {% endfor %}
        {% endif %}
        {% if documento.reemplaza_a %}
        <dt>Reemplaza al documento:</dt>
        <dd>- {{ documento.reemplaza_a }}</dd>
        <dd>- Motivo de la revión: {{ documento.tique_revision|default_if_none:"Generado en una versión anterior" }}</dd>
        {% endif %}
        {% if documento.is_replaced %}
        <dt>Reemplazado por el documento:</dt>
        <dd>- {{ documento.documento_reemplazado_por.get }}</dd>
        {% endif %}
        {% if documento.compuesto_por.all.count > 0 %}
        <dt>Archivos que lo componen:</dt>
        {% for archivo in documento.compuesto_por.all %}
        <dd>- {{ archivo }}</dd>
        {% endfor %}
        {% endif %}
        {% if documento.chequeo_documento.all.count > 0 %}
            <dt>Estado de verificación:</dt>
            {% for chequeo in documento.chequeo_documento.all %}
                {% if chequeo.aplica %}
                    {% if chequeo.verificado %}
                        <dd class="text-success">- {{ chequeo }} / Verificado: {{ chequeo.verificado|yesno:"Si,No,No" }} </dd>
                    {% else %}
                        <dd class="text-danger">- {{ chequeo }} / Verificado: {{ chequeo.verificado|yesno:"Si,No,No" }} </dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </dl>
{% endblock %}