{% extends 'template_base.html' %}

{% block contenido %}
    <h4>Tipos de Chequeo</h4><hr>
    <div class="row">
        <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Buscar...">
        </div>
        {% if 'calidad.add_tipochequeo' in g_perms %}
        <div class="col-sm-4 align-self-center">
            <a href="{% url 'nuevo_tipo_chequeo' %}" class="btn btn-sm btn-secondary float-md-right">Nuevo Tipo Chequeo</a>
        </div>
        {% endif %}
    </div>
    <div>
        <table class="table table-hover table-sm" style="font-size: 14px">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ayuda</th>
                    {% if 'calidad.view_tipochequeo' in g_perms %}<th> </th>{% endif %}
                    {% if 'calidad.change_tipochequeo' in g_perms %}<th> </th>{% endif %}
                    {% if 'calidad.delete_tipochequeo' in g_perms %}<th> </th>{% endif %}
                </tr>
            </thead>
            <tbody id="tipoChequeoTable">
            {% for tipo in tipos_chequeo %}
            <tr>
                <td>{{ tipo.nombre }}</td>
                <td>{{ tipo.ayuda }}</td>
                {% if 'calidad.view_tipochequeo' in g_perms %}
                    <td><a class="material-icons" data-toggle="tooltip" title="Ver detalles del Tipo de Chequeo" href="{% url 'ver_tipo_chequeo' pk_tc=tipo.pk %}">visibility</a></td>
                {% endif %}

                {% if 'calidad.change_tipochequeo' in g_perms %}
                    <td><a class="material-icons" data-toggle="tooltip" title="Editar Tipo de Chequeo" href="{% url 'edita_tipo_chequeo' pk_tc=tipo.pk %}">edit</a></td>
                {% endif %}

                {% if 'calidad.delete_tipochequeo' in g_perms %}
                    <td><a class="material-icons" data-toggle="tooltip" title="Eliminar Tipo de Chequeo" href="{% url 'elimina_tipo_chequeo' pk_tc=tipo.pk %}">check_box</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function onOff(tableRow) {
            var value = $("#searchInput").val().toLowerCase();
            //alert($("#finalized").is(':checked'));
            if ( (tableRow.text().toLowerCase().indexOf(value) > -1) )
               { // Mostrar
                tableRow.show();
            } else { // No mostrar
                tableRow.hide();
            }
        }

        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                $("#tipoChequeoTable tr").filter(function() {
                    onOff($(this));
                });
            });
        });
    </script>
{% endblock %}