{% extends 'template_base.html' %}
{% load static %}

{% block contenido %}

<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<h4> Tipo Chequeo </h4>
<form method="POST" class="post-form">
{% csrf_token %}
<div>

{% include 'template_form.html' with form=form %}
</div>

<div class="float-sm-right pt-4"><button type="submit" class="btn btn-secondary btn-lg">Guardar</button></div>
</form>
{% endblock %}
